*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 100%;
    overflow: hidden;
    background-color: black;
    height: 100%;

}

article {
    position: relative;
}
.container {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 100vh;
}

#stage {
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

.attrbut-sctn {
    margin-bottom: 5rem;
}

.info {
margin-top: 1rem;
margin-bottom: 1rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 1;
color: white;
background-color: black;
}

h1 {
font-size: 6rem;
line-height: 6rem;
}

.symbol-block {
    margin-bottom: 2rem;
}

p {
font-size: 1.0rem;
padding: 0.2rem;
}

h4 {
    font-size: 2rem;
}

.logo {
position: absolute;
margin: 2rem;
width: 15rem;
z-index: 3;
}

video {
    width: 50%;
    height: auto;
    margin-top: 1rem;
}